@model Domain.Model.Profile
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- page-header -->
@*<div class="page-header d-sm-flex d-block">
    <ol class="breadcrumb mb-sm-0 mb-3">
        <!-- breadcrumb -->
        <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol><!-- End breadcrumb -->
</div>
<!-- End page-header -->
<!-- row -->
<div class="row">
    <div class="col-xl-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="profile-bg h-250 cover-image">
                    @* @if (Model.ImageData != null)
                    {
                    var base64Image = Convert.ToBase64String(Model.ImageData);
                    var imgSrc = string.Format("data:image/jpeg;base64,{0}", base64Image);
                    <img src="@imgSrc" class="profile-bg h-250 w-100 cover-image">
                    }
                    else
                    {
                    <img src="~/adminAssets/assets/images/photos/30.jpg" class="profile-bg h-250 w-100 cover-image">
                    }*@
@*                </div>
                <div class="py-4 position-relative">
                    <div class="profile-img">
                        @if (Model.ImageData != null)
                        {
                            var base64Image = Convert.ToBase64String(Model.ImageData);
                            var imgSrc = string.Format("data:image/jpeg;base64,{0}", base64Image);
                            <img src="@imgSrc" class="avatar avatar-xxl br-7" alt="person-image">
                        }
                        else
                        {
                            <img src="~/adminAssets/assets/images/users/male/24.jpg" class="avatar avatar-xxl br-7" alt="person-image">
                        }

                    </div>
                    <div class="mt-5 d-sm-flex align-items-center">
                        <div>
                            @if (Model.Id != 0)
                            {
                                <h3 class="fw-semibold mb-1">@Model.FirstName @Model.LastName</h3>
                                <p class="mb-0 fw-semibold text-muted-dark">Designation : @Model.Designation</p>
                                <p class="mb-0 my-1 fw-semibold text-muted-dark fs-13">@Model.Address</p>
                            }
                            else
                            {
                                <h3 class="fw-semibold mb-1">FirstName LastName</h3>
                                <p class="mb-0 fw-semibold text-muted-dark">Designation : Designation</p>
                                <p class="mb-0 my-1 fw-semibold text-muted-dark fs-13">Address</p>
                            }
                        </div>
                    </div>

                </div>
                <div class="text-wrap">
                    <div class="panel tabs-style6">
                        <div class="panel-head d-flex">
                            <ul class="nav nav-tabs d-block d-sm-inline-flex">
                                <li class="nav-item"><a class="nav-link fw-bold" data-bs-toggle="tab" href="#style6tab2">Edit Profile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card" style="border: 4px solid #2274A5;">
                <div class="panel-body p-0">
                    <div class="tab-content">
                        <div class="tab-pane active p-0" id="style6tab2">
                            <br />
                            <br />
                            <h2 style="margin-left: 280px;">Edit Profile</h2>

                            <hr />
                            <div class="d-flex">
                                <div class="ms-auto" style="margin-top: -30px; margin-left: 190px">
                                    @*<button href="javascript:void(0);" type="button" class="btn btn-sm btn-danger" id="updateProfileBtn">Update</button>*@
                                    <input href="javascript:void(0);" type="submit" onclick="onUpdateClick('#updateProfileForm')" value="Update" class="btn btn-sm btn-danger" />
                                    <a href="javascript:void(0);" class="btn btn-sm btn-danger" id="discardBtn">Discard</a>
                                </div>
                            </div>
                            <form id="updateProfileForm" class="form-horizontal" enctype="multipart/form-data" style="margin-top: -10px; margin-left: 190px">
                                <input type="hidden" id="userId" value="@Model.Id" />
                                <h6 class="text-uppercase fw-semibold mb-3">User Details</h6>
                                <div class="form-group">
                                    <div class="row row-sm">
                                        <div class="col-md-3">
                                            <label class="form-label fw-semibold text-muted-dark">First Name</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="firstName" placeholder="First Name" asp-for="@Model.FirstName" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row row-sm">
                                        <div class="col-md-3">
                                            <label class="form-label fw-semibold text-muted-dark">Last Name</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="lastName"
                                                   placeholder="Last Name" asp-for="@Model.LastName" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row row-sm">
                                        <div class="col-md-3">
                                            <label class="form-label fw-semibold text-muted-dark">Nick Name</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="nickName"
                                                   placeholder="Nick Name" asp-for="@Model.NickName" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row row-sm">
                                        <div class="col-md-3">
                                            @*   <h6 class="text-uppercase fw-semibold mb-0">Your Photo</h6>*@
                                        </div>
                                        <div class="col-md-9 d-flex justify-content-between">
                                            <div>
                                                @*                                                    @if (Model.ImageData != null)
                                                {
                                                var base64Image = Convert.ToBase64String(Model.ImageData);
                                                var imgSrc = string.Format("data:image/jpeg;base64,{0}", base64Image);
                                                <img id="person-image" src="@imgSrc" class="avatar avatar-xxl br-7" alt="person-image" />
                                                }
                                                else
                                                {
                                                <img id="person-image" src="~/adminAssets/assets/images/users/male/15.jpg" class="avatar avatar-xxl br-7" alt="person-image" />
                                                }*@
                                                <input type="file" id="image-upload" style="display: none;" onchange="showImagePreview(event)" />
                                            </div>
                                            <div class="d-flex">
                                                @*       <a href="javascript:void(0);" class="mb-0 fw-semibold mx-2" onclick="changeImage()">Change</a>
                                                <a href="javascript:void(0);" class="mb-0 fw-semibold" onclick="deleteImage()">Delete</a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h6 class="text-uppercase fw-semibold mb-3">Work</h6>
                                <div class="form-group ">
                                    <div class="row row-sm">
                                        <div class="col-md-3">
                                            <label class="form-label fw-semibold text-muted-dark">Designation</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="designation"
                                                   placeholder="Designation" asp-for="@Model.Designation" />
                                        </div>
                                    </div>
                                </div>
                                <h6 class="text-uppercase fw-semibold mb-3">Contact</h6>
                                <div class="form-group ">
                                    <div class="row row-sm">
                                        <div class="col-md-3">
                                            <label class="form-label fw-semibold text-muted-dark">Email</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="email" class="form-control" id="email" placeholder="Email" asp-for="@Model.Email" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row row-sm">
                                        <div class="col-md-3">
                                            <label class="form-label fw-semibold text-muted-dark">Phone</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="mobile"
                                                   placeholder="phone number" asp-for="@Model.Mobile" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="row row-sm">
                                        <div class="col-md-3">
                                            <label class="form-label fw-semibold text-muted-dark">Address</label>
                                        </div>
                                        <div class="col-md-9">
                                            <textarea class="form-control" id="address" name="example-textarea-input" rows="2" placeholder="Address" asp-for="@Model.Address"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                @*  <h6 class="text-uppercase fw-semibold mb-3">Email Preferences</h6>
                                <div class="form-group mb-0">
                                <div class="row row-sm">
                                <div class="col-md-3">
                                <label class="form-label fw-semibold text-muted-dark">Verified User</label>
                                </div>
                                <div class="col-md-9 profile-editing">
                                <label class="d-flex align-items-center">
                                <input type="checkbox" checked />
                                <span>Accept to receive post or page notification emails</span>
                                </label>
                                <label class="d-flex align-items-center">
                                <input type="checkbox" checked />
                                <span> Accept to receive email sent to multiple recipients</span>
                                </label>
                                </div>
                                </div>
                                </div>*@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- row end -->
@section scripts {
    <script src="~/js/ProfileSetting.js"></script>
}
